<%= form_with model: [commentable, commentable.comments.new], url: url_path do |form| %>
  <table>
    <tbody>
      <tr>
        <td>
          <div id="comment-text">
            <% if commentable.is_a? Question %>

              <%= form.rich_text_area :body, cols: "68", rows: "2", placeholder: "Verwende die Kommentare, um weitere Informationen anzufordern oder Verbesserungen vorzuschlagen. Vermeide es, Fragen in den Kommentaren zu beantworten." %>
            <% elsif commentable.is_a? Answer %>
              <%= form.rich_text_area :body,  cols: "68", rows: "2", placeholder: 'Verwende die Kommentare, um weitere Informationen anzufordern oder Verbesserungen vorzuschlagen. Vermeide Kommentare wie "+1" oder "Danke".' %>
            <% end %>
          </div>
        </td>
        <td class="vt">
          <%= form.submit "Kommentieren", class: "btn btn-info" %>
        </td>
      </tr>
      <tr>
        <td colspan="2">
          <span id="comment-alert" class="text-counter cool"><%= I18n.t(:comment_alert_default, scope: :custom) %></span>
        </td>
      </tr>
    </tbody>
  </table>
<% end %>
